.vacancy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-basis: 70%;
    margin-top: 2rem;
}
.content__vacancy {

    flex-basis: 50%;
    height: 11rem;
    margin-bottom: 10px;
    overflow-y: auto;

}
.content__vacancy_title {
    text-align: center;
    margin-bottom: 1rem;
    color: darkturquoise;
}
.content__vacancy__main {
    position: relative;
}
.content__vacancy__main::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 90%;
        left: 5%;
        height: 3px;
        border-radius: 2px;
        background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}