
.list-group-item {
  padding: 20px 35px 10px 35px;
  margin-top: 10px;
  background: linear-gradient(to right, rgba(175, 228, 191, 0.3), rgba(246, 241, 211,.3));
}
.course-list {
  margin-top: 5vh;
  
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content__filter {
  margin-top: 5vh;
  flex-basis: 25%;
}
.content__filter hr {
  margin: 0.5rem 0;
}
.content__filter h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.content__filter_checkbox {
  margin-right: 3.5rem;
  margin-left: 5px;
}
.content__list {
}